.main-div{
    text-align: center;
    
    .header{
        font-weight: 700;
        font-family: math;
        font-size: 2rem;
    }
    
    .number-input{
        margin-right:1rem ;
        width:3.5rem;
    }
    .select{
        margin-right:0.5rem ;
        width:3.5rem;
    }

    .result{
        color: cornflowerblue;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        margin-top: 0.5rem;
    }
}
