.main-div{
    text-align: center;
    
    .header{
        font-weight: 700;
        font-family: math;
        font-size: 2rem;
    }
    
    .number-input{
        margin-right:1rem ;
    }
    .select{
        margin-right:0.5rem ;
    }

}